:root {
  --fondo-principal: #1e1e1e;
  --texto-principal: #e0e0e0;
  --texto-secundario: #aaaaaa;
  --acento-activo: #5e5c5c;
  --hover-menu-nav: #2c2c2c;
  --borde-separacion: #333333;
  --boton-destacado: #4d5157;
  --hover-boton: #4d5157;
}

/* Generales */
body {
  font-family: "Atkinson Hyperlegible Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: var(--fondo-principal);
  color: var(--texto-principal);
}

/* Header */
.header {
  background-color: var(--borde-separacion);
  padding: 10px;

  .header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* Logo */
.logo a {
  text-decoration: none;
  color: inherit;
}

.logo span {
  font-size: 1.5em;
  font-weight: bold;
}

/* Botón hamburguesa */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--texto-principal);
  cursor: pointer;
}

/* Navegación */
.nav-main {
  display: flex;
  gap: 20px;

  a {
    color: var(--texto-principal);
    text-decoration: none;
    padding: 10px;

    &.active {
      background-color: var(--acento-activo);
      border-radius: 5px;
    }

    &:hover {
      background-color: var(--hover-menu-nav); /* Gris más claro */
      color: var(--texto-principal); /* Gris claro para el texto */
    }
  }
}

/* Buscador */
.search-input input {
  padding: 5px;
  background-color: var(--hover-menu-nav);
  color: var(--texto-principal);
  border: none;
  width: 200px;

  &:hover {
    background-color: var(--borde-separacion);
  }
}

/* Contenido principal */
.main-content {
  &.home,
  &.gaming,
  &.sobre-nosotros,
  &.contacto {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
}

/* Grid de noticias y juegos */
.news-grid,
.games-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); // Aumenté el tamaño mínimo
  gap: 10px;
  width: 100%;
}

/* Ítems de noticias y juegos */
.news-item,
.game-item {
  background-color: var(--borde-separacion);
  padding: 25px; // Más padding para más espacio
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 350px; // Altura mínima para hacerlos más grandes
  transition: transform 0.5s ease, box-shadow 0.5s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
}

/* Imagen genérica */
.news-image,
.game-image {
  background-color: var(--borde-separacion);
  height: 200px; // Imagen más alta
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  display: block;
}

/* Sección Sobre Nosotros */
.about-us {
  background-color: var(--borde-separacion);
  padding: 20px;
  width: 80%;
  text-align: center;
  border-radius: 8px;
}

/* Contacto */
.contact-form {
  background-color: var(--borde-separacion);
  padding: 60px;
  width: 100%;
  border-radius: 8px;

  label,
  input,
  textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  input,
  textarea {
    padding: 10px;
    border: 1px solid var(--borde-separacion);
    background-color: var(--hover-menu-nav);
    color: var(--texto-principal);
  }

  button {
    background-color: var(--boton-destacado);
    color: var(--texto-principal);
    padding: 20px 20px;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color: var(--hover-boton);
  }
}

/* Footer */
.footer {
  background-color: var(--borde-separacion);
  padding: 10px;
  text-align: center;

  a {
    color: var(--texto-principal);
    text-decoration: none;
    margin: 0 10px;
  }
}

.nav-main ul,
.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Responsive */
@media (max-width: 768px) {
  .header .header-bottom {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-toggle {
    display: block;
    margin-left: auto;
  }

  .nav-main {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--borde-separacion);
    padding: 10px;
    gap: 10px;

    &.active {
      display: flex;
    }
  }

  .search-input input {
    width: 100%;
  }

  .news-grid,
  .games-grid {
    grid-template-columns: 1fr;
  }

  .main-content {
    padding: 10px;
  }
}
